@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.table-like-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-row {
  display: flex;
  justify-content: center;
}

.table-cell {
  flex-basis: 25.25%;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}

.product-card {
  /* flex-basis: 22.25%;
  max-width: 400px;
  margin: 0 5px; */
  width: 250px;
  /* margin: 10px; */
  margin: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img {
  height: 20vh;
}

.lower-content {
  height: 73px;
  display: flex;
}

/* @media (max-width: 768px) {
  .product-card {
    width: 50%;
    align-self: flex-start;
  }
} */

@media (max-width: 526px) {
  .product-card {
    width: 100%;
    align-self: flex-start;
  }
}

/* Custom styles for MatChips */
.mat-chip {
  background-color: #e0e0e0;
  color: #333333;
  font-size: 14px;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 16px;
}

.mat-chip:hover {
  background-color: #cccccc;
}

.mat-chip.mat-primary {
  background-color: #1976d2;
  color: #ffffff;
}

.mat-chip.mat-primary:hover {
  background-color: #1565c0;
}
