<h1>Product List</h1>
<!-- <ul>
  <li *ngFor="let product of products">
    ID: {{ product.id }} - Title: {{ product.title }} - Description:
    {{ product.description }}
  </li>
</ul> -->

<!-- <ul class="table-like-list">
  <div class="table-row">
    <div class="table-cell">ID:</div>
    <div class="table-cell">Title:</div>
    <div class="table-cell">Description:</div>
  </div>
  <li *ngFor="let product of displayedProducts">
    <div class="table-row">
      <div class="table-cell">{{ product.id }}</div>
      <div class="table-cell">{{ product.title }}</div>
      <div class="table-cell">{{ product.description }}</div>
    </div>
  </li>
</ul> -->

<!-- <mat-chip-listbox
  aria-label="Product selection"
  matSort
  (matSortChange)="sortData($event)"
>
  <mat-chip-option mat-sort-header="title">Title</mat-chip-option>
  <mat-chip-option mat-sort-header="category">Category</mat-chip-option>
  <mat-chip-option mat-sort-header="stock">Stock</mat-chip-option>
  <mat-chip-option mat-sort-header="price">Price</mat-chip-option>
</mat-chip-listbox> -->
<mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
  <mat-chip-option
    *ngFor="let chip of availableColors"
    selected
    [color]="chip.color"
  >
    {{ chip.name }}
  </mat-chip-option>
</mat-chip-listbox>

<div class="list">
  <mat-card class="product-card" *ngFor="let product of displayedProducts">
    <mat-card-header>
      <!-- <div mat-card-avatar class="product-header-image" style='background-image: url("{{ product.thumbnail}}");'></div> -->
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <img
      class="img"
      mat-card-image
      src="{{ product.thumbnail }}"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content class="lower-content">
      <p>
        {{ product.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>${{ product.price }}</button>
      <button mat-button>In Stock: {{ product.stock }}</button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50]"
  (page)="onPageChange($event)"
></mat-paginator>
